@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto+Slab:wght@300;400;500;600&display=swap');




/* For mobile phones: */
.app {

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .app {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}


.title {
  grid-column: 4 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);


  margin-bottom: 20px;
}

.title .name {


  /* Quinn Voronin */
  grid-column: 1 / 13;


  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 130px;
  line-height: 157px;


  background-color: #191D32;
  color: #FBFBFB;


  /* identical to box height */
  align-items: center;
  text-align: center;
}


.title .job {


  /* Inventor */

  grid-column: 8 / 13;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;

  background-color: #F3CA40;
  color: #101010;


  /* identical to box height */
  align-items: center;
  text-align: center;
}


.title .tagline {


  /* building solutions for the future */

  grid-column: 4 / 13;

  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 77px;

  color: #101010;


  /* identical to box height */
  align-items: center;
  text-align: right;
}


.title .seemore {

  grid-column: 11 / 13;

  background: #F3CA40;
  border: 5px solid #101010;
  box-sizing: border-box;
  border-radius: 77px;

  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: auto;

  align-items: center;
  text-align: center;
}

.header-img {

  grid-column: 4 / 12;

  width: 100%;
  height: 483px;
  border: 10px solid #101010;
}
